@tailwind base;
@tailwind components;
@tailwind utilities;


.home{
  background-image: url("./assets/images/image2.jpeg");
  background-color: rgba(0,0,0,0.7);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}


.login-form{
  /* Sets the margin left and right on an element to auto so, the element is in the center */
  margin-inline: auto; 

  /* min-height: 300px; */
  margin-top: 7rem;


}